@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* Custom max width for elements */
.max-width {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1rem;
}

/* Ubuntu font */
.font-ubuntu {
    font-family: "Ubuntu", sans-serif;
}

.font-ubuntu button {
    font-family: "Ubuntu", sans-serif;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

.font-inter button {
    font-family: "Inter", sans-serif;
}

/* Handle Dark Mode manually */
@custom-variant dark (&:where(.dark, .dark *));
